@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;300;500;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Noto Sans Bengali,sans-serif;
}
/* .landing4_banner_start */
.landing4_banner{
background-image: url("../images/banner_bg.svg");
background-position: center;
background-repeat: no-repeat;
background-size: auto;
height:600px;
}
.landing_4_logo{

}
.landing4_banner_details{

}
.landing4_banner_details h1{
font-weight: bold;
color: white;

}
.landing4_banner_details h5{
 color: #FBC422; 
 font-size: 22px;
 line-height: 30px;   
}
.landing4_banner_details_btn .btn{
    background-color: #FAC421;
    color: white;
    font-weight:600;
    font-size: 18px;
    padding: 10px 30px;
}
/* landing4_banner_end */

/* Gopalbhoga_section_start */
.Gopalbhoga_section_start{
     position: relative;

}
.Gopalbhoga_section_mid{

}
.Gopalbhoga_section_start::before{
    content: "";
    background-image:url("../images/About_left.png");
    height:400px;
    width:100%;
    display:inline-block;
    position: absolute;
    left: 0px;
    top: 30%;
    background-repeat: no-repeat;
    background-position:left;
    background-size: auto;
}
.Gopalbhoga_section_start::after{
    content: "";
    background-image:url("../images/About_right.png");
    height:400px;
    width:17%;
    display:table;
    position: absolute;
    right: 0px;
    top: 30%;
    background-repeat: no-repeat;
    background-position:right;
    background-size:100%;
}
/* Gopalbhoga_section_ends */