@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;300;500;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Noto Sans Bengali,sans-serif;
}
/* .landing4_banner_start */
.landing4_banner{
background-image: url("../images/banner_bg.svg");
background-position: center;
background-repeat: no-repeat;
background-size: auto;
height:600px;
}
.landing_4_logo{

}
.landing4_banner_details{

}
.landing4_banner_details h1{
font-weight: bold;
color: white;

}
.landing4_banner_details h5{
 color: #FBC422; 
 font-size: 22px;
 line-height: 30px;   
}
.landing4_banner_details_btn .btn{
    background-color: #FAC421;
    color: white;
    font-weight:600;
    font-size: 18px;
    padding: 10px 30px;
}
/* landing4_banner_end */

/* Gopalbhoga_section_start */
.Gopalbhoga_section_start{
  
    position: relative;
}
.Gopalbhoga_section_mid{

}
.Gopalbhoga_section_start::before{
    content: "";
    background-image:url("../images/About_left.png");
    height:400px;
    width:50%;
    display:inline-block;
    position: absolute;
    left: 0px;
    top: 30%;
    background-repeat: no-repeat;
    background-position:left;
    background-size: auto;
}
.Gopalbhoga_section_start::after{
    content: "";
    background-image:url("../images/About_right.png");
    height:400px;
    width:17%;
    display:table;
    position: absolute;
    right: 0px;
    top: 30%;
    background-repeat: no-repeat;
    background-position:right;
    background-size:100%;
}
.Gopalbhoga_section_mid_img{
    position: relative;
}
.Gopalbhoga_section_mid_para{
 position: absolute;
 top:35%;
 left:25%;
 right: 0%;
 bottom: 0%;
}
.Gopalbhoga_section_mid_para h3{
    font-size: 22px;
    line-height: 35px;
    font-weight: bold;
}
.Gopalbhoga_section_mid_para h4{

    font-size: 35px;
    font-weight: 800;
    line-height: 45px;
    color: #05a503;
    margin: 15px 0px;
}
.Gopalbhoga_section_mid_para h2{
    font-size: 30px;
    line-height: 40px;
    color: #ff0d51;
    font-weight: bold;
}
/* Gopalbhoga_section_ends */
/* Why_eat_our_bananas_start */
.Why_eat_our_bananas{

}
.Why_eat_our_bananas_details{
    text-align: center;
}
.Why_eat_our_bananas_details p{
    color: #64607d;
   line-height:30px;
    font-weight: 400;
    margin-top: 15px;
}
/* Why_eat_our_bananas_end */
/* Benefits_of_Mango_start */
.Benefits_of_Mango_start{
background-image: url("../images/why_us.png");
background-repeat: no-repeat;
background-size:100%;
background-position: center;
/* width: 100%; */
/* height: 600px; */
}
.Benefits_of_Mango_title{
    text-align: center;
}
.Benefits_of_Mango_one{
background-color: white;
border-radius: 10px;
text-align: center;
}
.Benefits_of_Mango_one_img{

}
.Benefits_of_Mango_one p{
    color: #64607d;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 20px;
}
/* Benefits_of_Mango_end */