@media (min-width:992px) and (max-width:1199.98px){
    .Gopalbhoga_section_mid_para h4 {
        font-size: 26px;
        font-weight:bold;
        line-height: 45px;
        color: #05a503;
        margin: 15px 0px;
    }
}
@media (min-width:768px) and (max-width:991.98px){
.landing4_banner {
    height:450px;
}
.Gopalbhoga_section_mid_para {
    position: absolute;
    top: 35%;
    left: 20%;
    right: 0%;
    bottom: 0%;
}
.Benefits_of_Mango_start {
    background-image: url(../images/why_us.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
}
@media(min-width:576px) and (max-width:767px){
    .landing4_banner {
        height:450px;
    }
    .Benefits_of_Mango_start {
        background-image: url(../images/why_us.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }
    .Benefits_of_Mango_one p {
        color: #64607d;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        padding-bottom: 20px;
    }
}
@media(max-width:575.98px){
    .landing4_banner {
        height:450px;
    }
    .Gopalbhoga_section_mid_para h4 {
        font-size: 21px;
        font-weight: 800;
        line-height: 34px;
        color: #05a503;
        margin: 0px 0px;
    }
    .Benefits_of_Mango_start {
        background-image: url(../images/why_us.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        background-color: #FEC827;
    }
    .Benefits_of_Mango_one p {
        color: #64607d;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        padding-bottom: 20px;
        padding: 10px;
    }
}